body {
    background-color: rgb(41, 44, 50);
    color: rgb(224, 224, 242);
    margin: 0;
    padding: 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline;
    text-align: left;
}

h2 {
    color: rgb(162, 169, 255);
    text-align: left;
    text-transform: uppercase;
    padding-top: 5px;
}

h3 {
    color: rgb(181, 187, 255);
    text-align: left;
    margin-bottom: 0px;
}

li {
    padding: 1px 0px;
}

a {
    color: rgb(186, 235, 255);
}

.header {
    background-color:rgb(31, 34, 36);
    color:rgb(230, 251, 255);
    margin: 0px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.webpage-title {
    float: left;
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    color:rgb(168, 168, 168);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: medium;
}

.header-link:hover {
    background-color:rgb(224, 224, 242);
}

.footer {
    margin-top: 10px;
    text-align: center;
}

.social-icon {
    filter: invert(100%);
}
.social-icon:hover {
    filter: invert(70%);
}
